In [184]:
import pandas as pd
import datetime

In [185]:
mta = pd.read_csv("MTA/turnstile_160109.txt")
mta = mta.head(100)
#mta

In [186]:
mta['key'] = zip(mta['C/A'], mta['UNIT'], mta['SCP'], mta['STATION'])

In [187]:
mta_dict = {}
mta_dict

{}

In [188]:
for index, row in mta.iterrows():
    value = row[4:11].tolist()
    key = row['key']
    #print key, value
    
    if key in mta_dict:
        mta_dict[key].append(value)
        
    else:
        mta_dict[key] = [value]

In [189]:
## Step 1 dictionary:
#mta_dict

In [190]:
## Step 2: Time Series data from MTA data frame

mta['datetime'] = pd.to_datetime(mta.DATE + mta.TIME, format='%m/%d/%Y%H:%M:%S')
#mta

In [191]:
datetime_dict = {}
for index, row in mta.iterrows():
    value = row['datetime'], row['ENTRIES']
    key = row['key']
    #print key, value
    
    if key in datetime_dict:
        datetime_dict[key].append(value)
        
    else:
        datetime_dict[key] = [value]

In [193]:
# Step 2
datetime_dict

{('A002',
  'R051',
  '02-00-00',
  '59 ST'): [(Timestamp('2016-01-02 03:00:00'),
   5478180), (Timestamp('2016-01-02 07:00:00'), 5478183), (Timestamp('2016-01-02 11:00:00'),
   5478262), (Timestamp('2016-01-02 15:00:00'),
   5478519), (Timestamp('2016-01-02 19:00:00'), 5478940), (Timestamp('2016-01-02 23:00:00'),
   5479213), (Timestamp('2016-01-03 03:00:00'),
   5479279), (Timestamp('2016-01-03 07:00:00'), 5479282), (Timestamp('2016-01-03 11:00:00'),
   5479344), (Timestamp('2016-01-03 15:00:00'),
   5479558), (Timestamp('2016-01-03 19:00:00'), 5479861), (Timestamp('2016-01-03 23:00:00'),
   5480016), (Timestamp('2016-01-04 03:00:00'),
   5480037), (Timestamp('2016-01-04 07:00:00'), 5480054), (Timestamp('2016-01-04 11:00:00'),
   5480267), (Timestamp('2016-01-04 15:00:00'),
   5480499), (Timestamp('2016-01-04 19:00:00'), 5481461), (Timestamp('2016-01-04 23:00:00'),
   5481770), (Timestamp('2016-01-05 03:00:00'),
   5481795), (Timestamp('2016-01-05 07:00:00'), 5481808), (Timestamp('2016-01-05 11:00:00'),
   5481983), (Timestamp('2016-01-05 15:00:00'),
   5482235), (Timestamp('2016-01-05 19:00:00'), 5483044), (Timestamp('2016-01-05 23:00:00'),
   5483391), (Timestamp('2016-01-06 03:00:00'),
   5483436), (Timestamp('2016-01-06 07:00:00'), 5483458), (Timestamp('2016-01-06 11:00:00'),
   5483626), (Timestamp('2016-01-06 15:00:00'),
   5483826), (Timestamp('2016-01-06 19:00:00'), 5484778), (Timestamp('2016-01-06 23:00:00'),
   5485169), (Timestamp('2016-01-07 03:00:00'),
   5485220), (Timestamp('2016-01-07 07:00:00'), 5485234), (Timestamp('2016-01-07 11:00:00'),
   5485391), (Timestamp('2016-01-07 15:00:00'),
   5485637), (Timestamp('2016-01-07 19:00:00'), 5486605), (Timestamp('2016-01-07 23:00:00'),
   5487003), (Timestamp('2016-01-08 03:00:00'),
   5487058), (Timestamp('2016-01-08 07:00:00'), 5487070), (Timestamp('2016-01-08 11:00:00'),
   5487262), (Timestamp('2016-01-08 15:00:00'),
   5487542), (Timestamp('2016-01-08 19:00:00'), 5488493), (Timestamp('2016-01-08 23:00:00'),
   5488911)],
 ('A002',
  'R051',
  '02-00-01',
  '59 ST'): [(Timestamp('2016-01-02 03:00:00'),
   5043901), (Timestamp('2016-01-02 07:00:00'), 5043902), (Timestamp('2016-01-02 11:00:00'),
   5043952), (Timestamp('2016-01-02 15:00:00'),
   5044212), (Timestamp('2016-01-02 19:00:00'), 5044570), (Timestamp('2016-01-02 23:00:00'),
   5044805), (Timestamp('2016-01-03 03:00:00'),
   5044855), (Timestamp('2016-01-03 07:00:00'), 5044861), (Timestamp('2016-01-03 11:00:00'),
   5044910), (Timestamp('2016-01-03 15:00:00'),
   5045107), (Timestamp('2016-01-03 19:00:00'), 5045365), (Timestamp('2016-01-03 23:00:00'),
   5045524), (Timestamp('2016-01-04 03:00:00'),
   5045544), (Timestamp('2016-01-04 07:00:00'), 5045556), (Timestamp('2016-01-04 11:00:00'),
   5045752), (Timestamp('2016-01-04 15:00:00'),
   5045931), (Timestamp('2016-01-04 19:00:00'), 5046781), (Timestamp('2016-01-04 23:00:00'),
   5047052), (Timestamp('2016-01-05 03:00:00'),
   5047075), (Timestamp('2016-01-05 07:00:00'), 5047088), (Timestamp('2016-01-05 11:00:00'),
   5047273), (Timestamp('2016-01-05 15:00:00'),
   5047506), (Timestamp('2016-01-05 19:00:00'), 5048246), (Timestamp('2016-01-05 23:00:00'),
   5048498), (Timestamp('2016-01-06 03:00:00'),
   5048523), (Timestamp('2016-01-06 07:00:00'), 5048541), (Timestamp('2016-01-06 11:00:00'),
   5048693), (Timestamp('2016-01-06 15:00:00'),
   5048867), (Timestamp('2016-01-06 19:00:00'), 5049669), (Timestamp('2016-01-06 23:00:00'),
   5049982), (Timestamp('2016-01-07 03:00:00'),
   5050020), (Timestamp('2016-01-07 07:00:00'), 5050034), (Timestamp('2016-01-07 11:00:00'),
   5050193), (Timestamp('2016-01-07 15:00:00'),
   5050379), (Timestamp('2016-01-07 19:00:00'), 5051141), (Timestamp('2016-01-07 23:00:00'),
   5051423), (Timestamp('2016-01-08 03:00:00'),
   5051466), (Timestamp('2016-01-08 07:00:00'), 5051485), (Timestamp('2016-01-08 11:00:00'),
   5051628), (Timestamp('2016-01-08 15:00:00'),
   5051827), (Timestamp('2016-01-08 19:00:00'), 5052608), (Timestamp('2016-01-08 23:00:00'),
   5052955)],
 ('A002',
  'R051',
  '02-03-00',
  '59 ST'): [(Timestamp('2016-01-02 03:00:00'),
   624457), (Timestamp('2016-01-02 07:00:00'), 624459), (Timestamp('2016-01-02 11:00:00'),
   624481), (Timestamp('2016-01-02 15:00:00'),
   624573), (Timestamp('2016-01-02 19:00:00'), 624764), (Timestamp('2016-01-02 23:00:00'),
   624887), (Timestamp('2016-01-03 03:00:00'),
   624921), (Timestamp('2016-01-03 07:00:00'), 624922), (Timestamp('2016-01-03 11:00:00'),
   624941), (Timestamp('2016-01-03 15:00:00'),
   625016), (Timestamp('2016-01-03 19:00:00'), 625126), (Timestamp('2016-01-03 23:00:00'),
   625211), (Timestamp('2016-01-04 03:00:00'),
   625217), (Timestamp('2016-01-04 07:00:00'), 625224), (Timestamp('2016-01-04 11:00:00'),
   625305), (Timestamp('2016-01-04 15:00:00'), 625380)]}

In [261]:
def count_day(my_list):
    ## Get unique values of dates
    dates = [row[0].date() for row in my_list]
    dates = set(dates)
    #print dates
    
    result = []
    for date in dates:
        entries = [x[1] for x in my_list if x[0].date() == date]
        result.append((date, max(entries)-min(entries)))
        
    print result
    
count_day(datetime_dict[('A002', 'R051', '02-03-00', '59 ST')])

[(datetime.date(2016, 1, 4), 163), (datetime.date(2016, 1, 3), 290), (datetime.date(2016, 1, 2), 430)]